/*
    CSS file for fight.html
*/

.bg-fight {
    background-image: url("../assets/background/fight-scene.png");
    background-size: cover;
}

.select-character-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-fight {
    width: 60%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    background: #FF7E01;
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'customFont', cursive;
    text-decoration: none;
    color: black;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    box-shadow: inset -4px -4px 0 0 #CD6304;
}
.btn-fight:before,
.btn-fight:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.btn-fight:before {
    top: -3px;
    left: 0;
    border-top: 3px #1E1E1E solid;
    border-bottom: 3px #1E1E1E solid;
}
.btn-fight:after {
    top: 0;
    left: -3px;
    border-left: 3px #1E1E1E solid;
    border-right: 3px #1E1E1E solid;
}
.btn-fight:hover, .btn-fight:focus {
    background: rgba(255, 126, 1, 0.9);
    box-shadow: inset -3px -3px 0 0 #CD6304;
}
.btn-fight:active {
    box-shadow: inset 4px 4px 0 0 #CD6304;
}
.btn-fight > .fight-loading {
    display: none;
}
.btn-disable {
    cursor: not-allowed !important;
    pointer-events: none !important;
    width: 60%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    background: #FF7E01;
    filter: brightness(50%);
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'customFont', cursive;
    text-decoration: none;
    color: black;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    box-shadow: inset -4px -4px 0 0 #CD6304;
}

/* Loading dots styles */
@keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.loading-fight-button {
    pointer-events: none;
}

.loading-fight-button .fight-loading {
    display: flex;
}

.fight-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 99px;
}

.fight-loading span:not(:last-child) {
    margin-right: 5px;
}

.fight-loading span {
    animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.fight-loading span:nth-child(2) {
    animation-delay: 100ms;
}

.fight-loading span:nth-child(3) {
    animation-delay: 300ms;
}

.character-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-input-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.45);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-input {
    position: relative;
    width: 32%;
}

.modal-input-background {
    width: 100%;
}

.modal-input-noted {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #CD6304;
    font-size: 0.7rem;
}

.modal-input-content-wrapper {
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: calc(100% - 6rem);
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-input-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-input-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-disable-input {
    cursor: not-allowed !important;
    pointer-events: none !important;
    filter: brightness(50%);
    width: 35%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: #FF7E01;
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'customFont', cursive;
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    box-shadow: inset -4px -4px 0 0 #CD6304;
}

.btn-input {
    width: 35%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background: #FF7E01;
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'customFont', cursive;
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    box-shadow: inset -4px -4px 0 0 #CD6304;
}
.btn-input:before,
.btn-input:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.btn-input:before {
    top: -3px;
    left: 0;
    border-top: 3px #1E1E1E solid;
    border-bottom: 3px #1E1E1E solid;
}
.btn-input:after {
    top: 0;
    left: -3px;
    border-left: 3px #1E1E1E solid;
    border-right: 3px #1E1E1E solid;
}
.btn-input:hover, .btn-input:focus {
    background: rgba(255, 126, 1, 0.9);
    box-shadow: inset -3px -3px 0 0 #CD6304;
}
.btn-input:active {
    box-shadow: inset 4px 4px 0 0 #CD6304;
}

.input-label {
    font-size: 0.9rem;
}

.input-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: end;
}

.input-icon-container {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    padding-inline-start: 0.75rem;
    top: 0;
    bottom: 0;
    inset-inline-start: 0;
}

.input-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.input-field {
    width: 100%;
    display: block;
    outline: none;
    padding: 0.5rem;
    padding-inline-start: 2.5rem;
    font-family: inherit;
    font-size: 0.75rem;
    border: 2px solid #000;
    border-radius: 5px;
}

.pool-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 60%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.7rem;
    background: #fff;
    position: relative;
    text-align: center;
    font-family: 'customFont', cursive;
    text-decoration: none;
    color: #1E3445;
    box-shadow: inset -4px -4px 0 0 #CD6304;
}
.pool-info:before,
.pool-info:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.pool-info:before {
    top: -3px;
    left: 0;
    border-top: 3px #CD6304 solid;
    border-bottom: 3px #CD6304 solid;
}
.pool-info:after {
    top: 0;
    left: -3px;
    border-left: 3px #CD6304 solid;
    border-right: 3px #CD6304 solid;
}

#reward-pool {
    font-size: 12px;
    color: #f18729;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.modal-error-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.45);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-panel {
    width: 35%;
    height: 15vh;
    display: flex;
    flex-direction: column;
}
#error-text {
    line-height: 1.5rem;
}

.modal-confetti {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
